

h1 {
	text-align: center;
}

ul {
  white-space: nowrap;
}
body {
    background-image: url("http://cdn.firstwefeast.com/assets/2015/06/jazzcups.jpg");

}

ul {
  list-style: none;
  display: inline;
  align-content: center;
}

.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 25px;
}

.center-div
{
     margin: 0 auto;
     width: 900px; 
}

.container {
    width: 100%;
    border: 5px;
    border-color: green;
    background: rgba(170, 188, 191, 0.8);
    border-radius: 25px;
}

.container div {
   margin: 0 auto;
    width: 80%;
}

div.link-container {
	width: auto;
	height: 5px;
    border: 5px;
    padding: 50px;
    border-color: green;
    background: rgba(170, 188, 191, 0.8);

}

div.github-widget {
	align-content: center;
}


.nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

h1 { 
  background-image: url('http://wallpapercave.com/wp/f2nbsPJ.jpg');
  display: block;
  border-style: solid;
  border-width: 2px;
  position: relative;
  width: 500px;
  margin-left: 25%;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  height: 50px; 

}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

  li {
  list-style: none;
  display: inline;
  align-content: center;
}